@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* (*) below means the universal symbol and applying it to everything */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.6s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(5),
  .panel:nth-of-type(6) {
    display: none;
  }
}

/* Background-image Transparent */

/* .hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &::before {
    content: Explore The Taste Of Jimmy Dean;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('https://images.unsplash.com/photo-1606787733743-919bad5b9db0?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MjZ8fGJyZWFrZmFzdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');
    background-size: cover;
    background-position: top center; 
    opacity: 0.25;
  }
} */

.background {
  background: url('https://images.unsplash.com/photo-1606787733743-919bad5b9db0?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MjZ8fGJyZWFrZmFzdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60')"

}
.layer {
  background-color: rgb(56, 56, 53);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}